body
{
    padding-top: 40px;
    background-image: url('background-image.jpg');
}

.header
{
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url('background-image.jpg');
    border-bottom: 1px solid #e5e5e5;
}

.body
{
    padding: 70px 0;
    background-color: #ffffff;
}

.footer
{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #e5e5e5;
    background-image: url('background-image.jpg');
}

    .footer p
    {
        margin-bottom: 0;
        color: #777;
    }

.blue
{
    color: #0140ca;
}

.red
{
    color: #DD1812;
}

.yellow
{
    color: #FCCA03;
}

.green
{
    color: #16A61E;
}
