﻿@model IEnumerable<WebRole.Models.Block>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div>
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <th>Hash</th>
                <td>@Html.TextBox("HashSub")</td>
            </tr>
            <tr>
                <th>Relayed by</th>
                <td>@Html.TextBox("Relay")</td>
            </tr>
        </table>
        <input type="submit" value="Filter" /> 
    }
</div>

<div>
    @if (ViewBag.NoResult)
    {
        <p class="red">Your search did not match any entry.</p>
    }
    else
    {
        ViewBag.Length = 50;
        Html.RenderPartial("BlockList");
    }
</div>
