body {
    background-color: #9977FF;
    color: #696969;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    font-size: .85em;
    margin: 0;
    padding: 0;
    margin-left: 50px;
}

a:link {
    color: #00AAAA;
    text-decoration: none;
}

a:visited { color: #50AAAA; }

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active { color: #12eb87; }

p, ul {
    line-height: 1.6em;
    margin-bottom: 20px;
}


#content {
    background-color: #FFFFFF;
    margin: 50px;
    padding: 50px;
}

#header ul {
    float: right;
    list-style: none;
    margin: 0 40px 0 0;
    padding: 0;
}

#header li {
    background-color: #FFFFFF;
    float: left;
    margin: 0 10px 0 0;
    padding: 10px;
}

.red {
    color: red;
}

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    color: #000;
    font-size: 1.5em;
}

h1 {
    font-size: 2em;
    margin: 50px 0 0 0;
    padding: 0;
}

h2 { padding: 0 0 10px 0; }

h3 { font-size: 1.2em; }

h4 { font-size: 1.1em; }

h5, h6 { font-size: 1em; }

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/


/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */

.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

header, #header {
    color: #000;
    margin-bottom: 0px;
    padding: 0;
    position: relative;
}

header h1, #header h1 {
    border: none;
    color: #fff;
    font-size: 32px !important;
    font-weight: bold;
    line-height: 2em;
    margin: 0;
    padding: 5px 0;
    text-shadow: 1px 1px 2px #111;
}

#main {
    -moz-border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    padding: 30px 30px 15px 30px;
}

footer,
#footer {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    color: #999;
    font-size: .9em;
    line-height: normal;
    margin: 0 0 30px 0;
    padding: 10px 0;
    text-align: center;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    margin: 0 0 1.5em 0;
    padding: 0 1.4em 1.4em 1.4em;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea { min-height: 75px; }

input[type="text"],
input[type="password"] {
    border: 1px solid #ccc;
    color: #444;
    font-size: 1.2em;
    padding: 2px;
    width: 200px;
}

select
{
    border: 1px solid #ccc;
    color: #444;
    font-size: 1.2em;
    padding: 2px;
}

input[type="submit"]
{
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table
{
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    border: solid 1px #e8eef4;
    padding: 5px;
}

table th {
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
    padding: 6px 5px;
    text-align: left;
}

/* MISC  
----------------------------------------------------------*/

.clear { clear: both; }

.error { color: Red; }

nav,
#menucontainer { margin-top: 40px; }

div#title
{
    display: block;
    float: left;
    text-align: left;
}

/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error { color: #ff0000; }

.field-validation-valid { display: none; }

.input-validation-error {
    background-color: #ffeeee;
    border: 1px solid #ff0000;
}

.validation-summary-errors {
    color: #ff0000;
    font-weight: bold;
}

.validation-summary-valid { display: none; }

/* Styles for editor and display helpers
----------------------------------------------------------*/

.display-label,
.editor-label { margin: 1em 0 0 0; }

.display-field,
.editor-field { margin: 0.5em 0 0 0; }

.text-box { width: 30em; }

.text-box.multi-line { height: 6.5em; }

.tri-state { width: 6em; }