@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="contact">
    <h2>Overview</h2>
    <p>
        A cloud-hosted information website tracking Bitcoin transactions in real time. VisualBitcoin was started as a student project of &Eacute;cole Normale Supérieure, Paris. This site was produced for monitoring bitcoin’s transactions online. <br/>
        Bitcoin is a digital currency which is based on the cryptography. You can read more on <a href="http://bitcoin.org/about.html">Bitcoin</a>. <br/>
    </p>
    <h2>License</h2>
    <p>
        Open source.
    </p>
</section>
