@{
    ViewBag.Title = "About";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="~/Scripts/jquery.details.js"></script>
<script>
    $(function () {
        $('html').addClass($.fn.details.support ? 'details' : 'no-details');
        $('details').details();
    });
</script>


<h2>@ViewBag.Title</h2>


<h3>Overview</h3>
<p>
    A cloud-hosted information website tracking Bitcoin transactions in real time. VisualBitcoin
    was started as a student project of &Eacute;cole Normale Supérieure, Paris. This
    site was produced for monitoring bitcoin’s transactions online.
    <br />
    Bitcoin is a digital currency which is based on the cryptography. You can read more
    on <a href="http://bitcoin.org/about.html">Bitcoin</a>.
    <br />
    This project consists of <a href="#Client">Bitcoin client</a>, <a href="#Worker Role" >Bitcoin worker role</a>, <a href="#Storage Implementation">Storage implementation</a>, 
    <a href="#Storage Worker Role">Storage worker role</a> and <a href="#Web Role">Web role</a> . This project is created for Windows Azure virtual machine. It uses Windows Azure Storage and other cloud technologies of Windows Corporation. 
    <br />
</p>

<a id="Main Schema"></a>
<details>
    <summary style="font: bold">Main Schema</summary> 
    <img alt="Main Schema couldn't be loaded." src="~/Content/Schemas/Main schema.png" style="text-align:center;vertical-align:middle"/>

</details>


<a id="Client"></a>
<details> <summary style="font: bold">Bitcoin client</summary>
            For our application we use standard bitcoin client <span style="color:red">HERE NAME OF THE CLIENT</span>. It is launched on the Windows Azure Virtual Machine (VM). We are taking new transactions and information about blocks from it.
</details>

<a id="Worker Role"></a>
<details> <summary style="font: bold"> Bitcoin Worker Role</summary>
Consists of two classes: WorkerRole and BitcoinClient. WorkerRole is an entry point class which connects to the bitcoin client on the VM. BitcoinClient class takes data from the Bitcoin Client. It also converts received data to the XML format and extracts transactions from the blocks. It uses Storage implementation for uploading data to the Azure Storage. Blocks are saved to the BocksContainer and Transactions are saved to the Transactions container. Also this part adds messages to the queue about which block should be processed next.
    <details>
        <summary style="font: bold">Schema</summary> 
        <img alt="Schema couldn't be loaded." src="~/Content/Schemas/WorkerRole.png"/>
    </details>
</details>

<a id="Storage Implementation"></a>
<details> <summary style="font: bold"> Storage implementation </summary>
<br/>This is a service part of the project for communicating with Windows Azure Storage. It contains with:
<ul>
    <li>Serilization – saving different data models to the storage in  XML formatl; </li>
    <li>Models – in this folder different structures of data are described. All these models are serialized; </li>
	<li>Coding /not implemented/ – zipping and unzipping data to minimize data exchange; </li>
	<li>Managing Windows Azure Storage – staring and connecting to different containers.</li>
</ul>
<br/>We use three containers and a queue of Windows Azure Storage. 
<br/>In the BlockContainer we save information of the blocks like a XML file. We use block’s hash to name each file. In these files all information about bitcoin blocks are saved. To minimize file’s size we removed transactions and added just their hashes. 
<br/>In the TransactionsContainer we saved transactions XML by their hashes. Also we added hash of the block which is owned this transaction to the XML structure. 
<br/>In the HigherContainer we save transactions’ hashes by time to accelerate data processing and access to the data from the UI.
    <details> <summary>Models</summary> 
    <ul>
        <li><span style="font:bold">Bitcoin worker role.</span> Saves all necessary data for Worker Role Client for back-up.</li>
        <li><span style="font:bold">Block.</span> Representes block which is used in Bitcoin network, but an array of transactions is changed to the array of theirs IDs. </li>
	    <li><span style="font:bold">Block reference.</span> Reference to the block. Reference name is realized like a hash. </li>
	    <li><span style="font:bold">Transactions.</span> Represents transaction of the bitcoin network. Also models <span style="font:italic">VIn, VOut</span> and <span style="font:italic">Prev_Out</span>
             are used for representing different fields of the transactions.</li>
        <li><span style="font:bold">Statistic.</span> Saves different type of the statistics on Time, Blocks, Transactions.</li>
    </ul>

    </details>
</details>

<a id="Storage Worker Role"></a>
<details> <summary style="font: bold"> Storage Worker Role </summary>
In this project we have made data processing, adding references to the higher container, collecting statistical information and saving it to the storage.
    <details>
        <summary style="font: bold">Schema</summary> 
        <img alt="Schema couldn't be loaded." src="~/Content/Schemas/StorageWorkerRole.png"/>
    </details>

</details>

<a id="Web Role"></a>
<details> <summary style="font: bold">Web Role</summary>
A web site with a user interface (UI). Connect to the blob storage and represents requested data. Allows to constructing charts, navigating in blocks and transactions. From each block you can see and discover information on transactions which belongs to it.
    <details>
        <summary style="font: bold">Schema</summary> 
        <img alt="Schema couldn't be loaded." src="~/Content/Schemas/WebRole.png"/>
    </details>

</details>


<h2>License</h2>
    &copy; Copyright 2013 Axel Davy, Nohemi Fernandez, Baptiste Lefebre,  Ken Chenseau Sain-Germain, Christophe Cordero, Denys Kanunikov
    <br/>
    <br/>
    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
    <br/>
    <br/>
    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    <br/>
    <br/>
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
