	<div id="menu-wrapper">
		<div id="menu" class="container">
			<ul>
				<li>@Html.ActionLink("Home", "Index", "Home")</li>
				<li>@Html.ActionLink("Block Explorer", "Index", "Explorer")</li>
				<li><a href="#">Stats</a></li>
				<li><a href="#">Transactions</a></li>
				<li>@Html.ActionLink("About Us", "About", "Home")</li>
				<li class="current_page_item">@Html.ActionLink("Contact Us", "Contact", "Home")</li>
			</ul>
		</div>
	</div>
<div id="page" class="container">
		<div id="content">
			<div class="post">
				<h2 class="title">Email the Team</h2>
				<div class="entry">
<p>
    <b>Axel Davy</b>
    <span>axel (dot) davy (at) ens (dot) fr</span>
</p>
<p>
    <b>Nohemi Fernandez</b>
    <span> nf68 (at) cornell (dot) edu</span>
</p>
<p>
    <b>Baptiste Lefebvre</b>
    <span>baptiste (dot) lefebvre (at) ens (dot) fr</span>
</p>
<p>
    <b>Ken Chanseau Saint-Germain</b>
    <span>chanseau (at) clipper (dot) ens (dot) fr</span>
</p>
<p>
    <b>Christophe Cordero</b>
    <span>cordero (dot) christophe (at) gmail (dot) com</span>
</p>
<p>
    <b>Denys Kanunikov</b>
    <span>denys (dot) kanunikov (at) ens (dot) fr</span>
</p>

                    </div>
                </div>
            </div>
    </div>