@{
    ViewBag.Title = "Contact";
}

<h2 class="red">@ViewBag.Title</h2>

<p>
    <span class="label">Axel Davy</span>
    <span>axel (dot) davy (at) ens (dot) fr</span>
</p>
<p>
    <span class="label">Nohemi Fernandez</span>
    <span> nf68 (at) cornell (dot) edu</span>
</p>
<p>
    <span class="label">Baptiste Lefebvre</span>
    <span>baptiste (dot) lefebvre (at) ens (dot) fr</span>
</p>
<p>
    <span class="label">Ken Chanseau Saint-Germain</span>
    <span>chanseau (at) clipper (dot) ens (dot) fr</span>
</p>
<p>
    <span class="label">Christophe Cordero</span>
    <span>cordero (dot) christophe (at) gmail (dot) com</span>
</p>
<p>
    <span class="label">Denys Kanunikov</span>
    <span>denys (dot) kanunikov (at) ens (dot) fr</a></span>
</p>

