@{
    ViewBag.Title = "Home";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="contact">
    <p>
        Welcome to VisualBitcoin website.
    </p>
    <h2>Warning</h2>
    <p>
        <em>Don't try to use the Explorer link if you have not launch the Windows Azure Storage Emulator and
        the Windows Azure Compute Emulator before. If you have problems try to launch these Emulators before
        you launch Visual Studio.</em>
    </p>
</section>

