@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Error</title>
    </head>
    <body>
        <div id="title">
            <h1>Error</h1>
        </div>

        <div id="content">
            <p>
                Sorry, an error occurred while processing your request.
            </p>
        </div>
    </body>
</html>
