@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<<<<<<< HEAD
<p>
    ##########<br/>
    ## TODO ##<br/>
    ##########<br/>
</p>
=======

<p>This is a Bitcoin information web application project.<br/>
    Under construction.</p>
>>>>>>> c3a37724034afe7589a9ddc2fcbf2cb60d286b17
