@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
    ##########<br/>
    ## TODO ##<br/>
    ##########<br/>
</p>

<h2>License</h2>
<p>
Open source (name of the license)
</p>

<h2>About</h2>
<p>
Visual bitcoin was started as a student project of Ecole Normale Superieure, Paris. This site was produced for monitoring bitcoin’s transactions online. <br /> 
Bitcoin is a digital currency which is based on the cryptography. You can read more on <a href="http://bitcoin.org/about.html">Bitcoin</a>. <br/>
On the project worked:     <br/>
<ul>
<li><a href="mailto:andrea.beica@ens.fr?Subject=VisualBitcoin%20Project">Andrea Beica;</a></li>
<li><a href="mailto:axel.davy@ens.fr?Subject=VisualBitcoin%20Project">Axel Davy;</a></li>
<li><a href="mailto:baptiste.lefebvre@ens.fr?Subject=VisualBitcoin%20Project">Baptiste Lefebvre;</a></li>
<li><a href="mailto:chanseau@clipper.ens.fr?Subject=VisualBitcoin%20Project">Ken Chanseau-Saint-Germain;</a></li>
<li><a href="mailto:cordero.christophe@gmail.com?Subject=VisualBitcoin%20Project">Cordero Christophe; </a></li>
<li><a href="mailto:denys.kanunikov@ens.fr?Subject=VisualBitcoin%20Project">Denys Kanunikov;</a></li>
<li><a href="mailto:Li-yao.xia@ens.fr?Subject=VisualBitcoin%20Project">Li-yao Xia;</a></li>
<li><a href="mailto:nicolas.blanchard@ens.fr?Subject=VisualBitcoin%20Project">Nicolas Blanchard;</a></li>
<li><a href="mailto:nohemifdz@gmail.com?Subject=VisualBitcoin%20Project">Nohemi Fernandez;</a></li>
<li><a href="mailto:warith.harchaoui@ens.fr?Subject=VisualBitcoin%20Project">Warith HARCHAOUI.</a></li>
</ul>
</p>

<p>
    This is a Bitcoin information web application project.<br/>
    Under construction.
</p>
