@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
    ##########<br/>
    ## TODO ##<br/>
    ##########<br/>
</p>

<h2>License</h2>
<p>
Open source (name of the license)
</p>

<h2>About</h2>
<p>
Visual bitcoin was started as a student project of Ecole Normale Superieure, Paris. This site was produced for monitoring bitcoin’s transactions online. <br /> 
Bitcoin is a digital currency which is based on the cryptography. You can read more on <a href="http://bitcoin.org/about.html">Bitcoin</a>. <br/>
On the project worked:     <br/>
<ul>
<li>axel.davy (at) ens.fr Axel Davy; </li>
<li>baptiste.lefebvre (at) ens.fr Baptiste Lefebvre; </li>
<li>chanseau (at) clipper.ens.fr Ken Chanseau-Saint-Germain; </li>
<li>cordero.christophe (at) gmail.com Cordero Christophe;  </li>
<li>denys.kanunikov (at) ens.fr Denys Kanunikov;</li>
<li>Li-yao.xia (at) ens.fr Li-yao Xia; </li>
<li>nohemifdz (at) gmail.com Nohemi Fernandez;</li>
</ul>
</p>

<p>
    This is a Bitcoin information web application project.<br/>
    Under construction.
</p>
