@model IEnumerable<WebRole.Models.Block>

@{
    ViewBag.Title = "Visual Bitcoin";
}

<h2>Latest mined blocks</h2>

<div>
    @{
        ViewBag.Length = 10;
        Html.RenderPartial("BlockList");
    }
</div>