@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    Welcome to VisualBitcoin website!
</p>
<p>
    ######################<br/>
    ## Description, TODO ##<br/>
    ######################<br/>
</p>

<h2>Links</h2>
<ul>
    <li>Bitcoin</li>
    <ul>
        <li><a href="http://www.weusecoins.com">weusecoin.com</a></li>
        <li><a href="http://bitcoin.org">bitcoin.org</a></li>
        <li><a href="https://en.bitcoin.it/wiki/Main_Page">Wiki</a></li>
    </ul>
    <li>w3schools</li>
    <ul>
        <li><a href="http://www.w3schools.com/html/html5_intro.asp">HTML5</a></li>
        <li><a href="http://www.w3schools.com/css3/default.asp">CSS3</a></li>
        <li><a href="http://www.w3schools.com/xml/default.asp">XML</a></li>
    </ul>
</ul>
